.hero {
    margin-top: 100px;
    display: flex;
  }
  .hero-title {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
  }
  .hero-box2 {
    margin-left: auto;
  }
  .hr1 {
    max-width: 50px;
    border-color: aqua;
    border-radius: 50px;
    margin-bottom: 79px;
    height: 4px;
    background-color: aqua;
  }
  .hero-text1 {
    max-width: 445px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }
  .hero-img2 {
    margin-top: 155px;
    display: flex;
    justify-content: end;
  }